body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a button {
    color: black;
    background-color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

nav a button:hover {
    background-color: #ddd;
}

section {
    padding: 20px;
    margin: 10px;
}

.projeto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}

.projeto img {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #999;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.projeto img:hover {
    transform: scale(1.03);
}

.projeto video {
    max-width: 100%;
    border: 1px solid #999;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.fotoautor img {
    border: 1px solid black;
    max-width: 55px;
    border-radius: 50%;
}
